<!-- Badge Row -->
<div class="badge-row">
  <a href="https://github.com/slavaheroes" class="badge--github">GITHUB</a>
  <a href="https://www.kaggle.com/vyacheslavshen" class="badge--kaggle">KAGGLE</a>
  <a href="https://www.linkedin.com/in/slava-shen" class="badge--linkedin">LINKEDIN</a>
  <a href="https://tiktok.com/@slavaheroes" class="badge--tiktok">TIKTOK</a>
  <a href="https://medium.com/@vyacheslavshen" class="badge--medium">MEDIUM</a>
  <a href="https://t.me/slavaheroes" class="badge--telegram">TELEGRAM</a>
</div>
